@font-face {
  font-family: 'BebasNeue-Bold';
  src: url('../fonts/Bebas_Neue-Bold.woff');
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url('../fonts/Gilroy-ExtraBold.woff');
}

@font-face {
  font-family: 'Proxima_Nova-Bold';
  src: url('../fonts/Proxima_Nova-Bold.woff');
}

@font-face {
  font-family: 'Proxima_Nova-Extrabold';
  src: url('../fonts/Proxima_Nova-Extrabold.woff');
}

@font-face {
  font-family: 'Proxima_Nova-Regular';
  src: url('../fonts/Proxima_Nova-Regular.woff');
}

@font-face {
  font-family: 'Proxima_Nova-Regular_Italic';
  src: url('../fonts/Proxima_Nova-Regular_Italic.woff');
}

@font-face {
  font-family: 'Proxima_Nova-Semibold';
  src: url('../fonts/Proxima_Nova-Semibold.woff');
}
