.hero {
  height: 688px;
  padding: 0 250px;
  position: relative;

  @media (max-width: 1800px) {
    padding: 0 150px;
  }

  @media (max-width: 1600px) {
    padding: 0 50px;
  }

  @media (max-width: 1200px) {
    height: auto;
  }

  &__bg {
    background-image: url('../img/sean-pollock-203658-unsplash.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: -80px;
    z-index: 0;

    &::after {
      background: linear-gradient(
        180deg,
        rgba(0, 78, 134, 0.8) 0%,
        rgba(10, 65, 104, 0.8) 100%
      );
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &__content {
    color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;

    @media (max-width: 1200px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__left {
    grid-column: span 2;
  }

  &__header-wrapper {
    align-items: center;
    display: flex;
    height: 510px;
    justify-content: center;

    @media (max-width: 1200px) {
      height: auto;
      padding: 30px 0;
    }
  }

  &__header {
    height: 209px;
    width: 720px;

    @media (max-width: 1200px) {
      height: auto;
    }

    & h1 {
      font-family: 'Gilroy-ExtraBold';
      font-size: 42px;
      line-height: 51.45px;
      max-width: 580px;
    }

    & p {
      font-family: 'Proxima_Nova-Semibold';
      font-size: 20px;
      line-height: 34px;
      margin-top: 38px;
      max-width: 363px;
      opacity: 0.7;
    }
  }

  &__features {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Proxima_Nova-Bold';
    height: 178px;
    justify-content: space-between;

    @media (max-width: 1200px) {
      height: auto;
      padding: 30px 0;
    }

    & div {
      display: flex;
      flex: 0 0 270px;
      font-size: 20px;
      height: 56px;
      line-height: 28px;
    }

    & span {
      display: flex;
      flex: 0 0 50px;
      margin-right: 30px;
    }
  }

  &__right {
    position: relative;

    @media (max-width: 1200px) {
      grid-column: span 2;
    }
  }

  &__but-wrapper {
    align-items: center;
    display: flex;
    height: 510px;
    justify-content: flex-start;

    @media (max-width: 1200px) {
      flex-wrap: wrap;
      height: auto;
      justify-content: space-around;
      padding: 30px 0;
    }
  }

  &__but {
    height: 194px;
    width: 340px;

    & > button > span {
      display: inline-block;
      height: 12px;
      margin-right: 12px;
      width: 12px;
    }

    & p {
      font-family: 'Proxima_Nova-Regular';
      font-size: 15px;
      height: 84px;
      line-height: 28px;
      margin-top: 40px;
      width: 340px;
    }
  }

  &__video {
    background-image: url('../img/stamp.png');
    bottom: 68px;
    display: block;
    height: 220px;
    position: absolute;
    right: 0;
    width: 220px;

    @media (max-width: 1200px) {
      bottom: auto;
      position: relative;
      right: auto;
    }

    &:hover > img {
      transform: translate(-50%, -50%) scale(0.9, 0.9);
    }

    & img {
      border-radius: 50%;
      display: block;
      height: 140px;
      left: 50%;
      position: absolute;
      top: 50%;
      transition: transform 300ms;
      transform: translate(-50%, -50%);
      width: 140px;
    }

    & span {
      display: block;
      height: 23px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
    }
  }
}
