.nav {
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 80px;
  padding: 0 250px;
  position: relative;
  z-index: 1;

  @media (max-width: 1800px) {
    padding: 0 150px;
  }

  @media (max-width: 1600px) {
    padding: 0 50px;
  }

  @media (max-width: $mobile_width) {
    grid-template-columns: 1fr 1fr;
    padding: 0 15px;
  }

  &__burger-logo-wrapper {
    align-self: center;
    grid-column: span 2;

    & > div {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-right: 50px;
      max-width: 317px;

      @media (max-width: $mobile_width) {
        margin-right: 0;
      }
    }
  }

  &__logo {
    background-image: url('../img/logo.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
    width: 197px;
  }

  &__mail-phone-wrapper {
    align-self: center;

    @media (max-width: $mobile_width) {
      display: none;
    }

    & > div {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }

  &__mail {
    display: flex;
    flex-direction: column;
    font-family: 'Proxima_Nova-Semibold';
    font-size: 12px;
    line-height: 12px;
    width: 131px;

    & > span {
      opacity: 50%;
    }

    & > a {
      color: #fee040;
      margin-top: 6px;

      & > span {
        display: inline-block;
        height: 7.5px;
        margin-right: 9px;
        width: 10px;
      }
    }
  }

  &__number {
    display: flex;
    flex-direction: column;
    width: 188px;

    @media (max-width: $mobile_width) {
      display: none;
    }

    & > span:first-child {
      font-family: 'Proxima_Nova-Semibold';
      font-size: 12px;
      line-height: 12px;
      opacity: 50%;
      text-align: right;

      & > span {
        display: inline-block;
        height: 11px;
        width: 11px;
      }
    }

    & > span:last-child {
      font-family: 'Proxima_Nova-Bold';
      font-size: 20px;
      line-height: 24px;
      margin-top: 7px;
      text-align: right;
    }
  }
}
