@import './reset-styles.scss';
@import './common.scss';

.container {
  margin: 0 auto;
  max-width: 1920px;
  position: relative;
}

@import './hero.scss';
@import './why-we.scss';
@import './services.scss';
@import './step-one.scss';

@import './cta.scss';
