@import './reset-styles.scss';
@import './fonts.scss';
@import './common.scss';

html {
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  max-width: 1920px;
  position: relative;
}

@import './nav.scss';
@import './hero.scss';
@import './why-we.scss';
@import './services.scss';
@import './step-one.scss';
@import './cta.scss';
@import './footer.scss';
