.why-we {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 449px;
  padding: 0 250px;
  position: relative;

  @media (max-width: 1800px) {
    padding: 0 150px;
  }

  @media (max-width: 1600px) {
    padding: 0 50px;
  }

  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
    height: auto;
    padding: 50px 50px;
  }

  @media (max-width: $mobile_width) {
    padding: 50px 15px;
  }

  &__header {
    align-self: center;
    display: grid;
    max-width: 460px;

    @media (max-width: 1200px) {
      justify-self: center;
    }

    & h3 {
      color: #151515;
      font-family: 'Gilroy-ExtraBold';
      font-size: 32px;
      letter-spacing: -0.5px;
      line-height: 42px;
      margin-bottom: 50px;

      @media (max-width: 1200px) {
        margin-bottom: 30px;
      }

      @media (max-width: $mobile_width) {
        font-size: 24px;
        line-height: normal;
      }
    }

    & p {
      color: #707070;
      font-family: 'Proxima_Nova-Semibold';
      font-size: 18px;
      letter-spacing: -0.5px;
      line-height: 28px;
      opacity: 0.7;
    }
  }

  &__tv {
    align-self: center;
    display: grid;
    justify-self: center;
    max-width: 400px;

    & img {
      width: 100%;
    }
  }

  &__right-content {
    align-self: center;
    display: grid;
    max-width: 460px;

    @media (max-width: 1200px) {
      justify-self: center;
    }

    & p {
      color: #151515;
      font-family: 'Proxima_Nova-Bold';
      font-size: 24px;
      letter-spacing: -0.5px;
      line-height: 34px;
      margin-bottom: 24px;
      text-align: left;
    }

    & ul {
      color: #333333;
      font-family: 'Proxima_Nova-Semibold';

      & li {
        align-items: center;
        display: flex;
        font-size: 18px;
        letter-spacing: -0.5px;
        line-height: 26px;
        margin-bottom: 19px;

        & > span:first-child {
          background-color: #fee040;
          background-size: 14px 14px;
          border-radius: 50%;
          display: inline-block;
          height: 30px;
          margin-right: 20px;
          min-width: 30px;
          width: 30px;
        }

        & > span:last-child {
          opacity: 0.7;
        }
      }
    }
  }
}
